.obdelnik {
    width: 400px;
    height: 100px;
    border: 2px ridge orange;
    background-color: chartreuse;
}

div.cerveny {
    background-color: red;
}

div.modry {
    background-color: blue;
}

